{% extends "core/base.html" %}
{% block title %}Scan QR{% endblock title %}
{% block content %}
<div class="center-container">
  <div class="container">
    <h1>Scan Qr code</h1>
    <form action="{% url 'scan_qr'%}" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      <input type="text" name="mobile_number" placeholder="Enter digit mobile number " required pattern="\d{10}">
      <input type="file" name='qr_image' accept='image/*' id="qr-input" placeholder="Enter text to Generate QR code" required>
      <button type="submit">Scan</button>
    </form>
    <h2>{{result}}</h2>
  </div>
</div>
{% endblock content %}